<style type="text/css">
  .content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ticket-table{
    text-align: left;
    padding: 10px;
    border: 1px solid darkblue;
  }
  a{
    color: red;
    text-decoration: none;
  }
</style>
<div class="content">
  <% if @tickets.exists? %>
    <% @tickets.each do |ticket| %>
      <table class="ticket-table">
        <tbody>
        <tr>
          <th scope="row">Id</th>
          <td><%= ticket.id %></td>
        </tr>
        <tr>
          <th scope="row">Request Number</th>
          <td><%= link_to ticket.request_number, ticket  %></td>
        </tr>
        <tr>
          <th scope="row">Sequence Number</th>
          <td><%= ticket.sequence_number %></td>
        </tr>
        <tr>
          <th scope="row">Request Type</th>
          <td><%= ticket.request_type %></td>
        </tr>
        <tr>
          <th scope="row">Date Times</th>
          <td><%= ticket.date_times["ResponseDueDateTime"] %></td>
        </tr>
        </tbody>
      </table>
      <br>
    <% end %>
  <% else %>
    <h1>No tickets!</h1>
  <% end %>

</div>
